<div class="background">
  <div class="header">TinDog</div>
  <img src="/assets/images/background.jpg">
  <div class="login-box">
    <div class="login-items">
      <div class="login-item">
        <div class="login-label">Usuário:</div>
        <input class="login-input" type="text" #username>
      </div>
      <div class="login-item">
        <div class="login-label">Senha:</div>
        <input class="login-input" type="password" #password>
      </div>
    </div>
  </div>
  <button class="button-sign-in">Login</button>
  <button class="button-sign-up" routerLink="add-user">Entrar</button>
  <button class="button-sign-in">Cadastrar-se</button>
  <button class="button-reset-password">Esqueceu a Senha?</button>
</div>
