.background {
	background-color: rgb(250, 161, 65);
	min-height: 100vh;
}

.col-6 {
	float: left;
	vertical-align: top;
	width: 512px;
}

.col-12 {
	background-color: rgb(250, 161, 65);
	float: left;
}

.forgot-password {
	text-decoration: none;
}

img {
	opacity: 0.5;
}

input {
	border: none;
	outline: none;
	padding: 5px;
}

.login-bar {
	background-color: rgb(213, 130, 41);
	border: none;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: table-cell;
	float: left;
	font-family: 'Open Sans Light';
	font-size: 1.5em;
	height: 170px;
	outline: none;
	padding: 20px;
	text-align: center;
	vertical-align: middle;
	width: 212px;
}

.login-box {
	display: table-cell;
	height: 170px;
	text-align: center;
	vertical-align: middle;
	width: 300px;
}

.login-item {
	display: inline-block;
	margin-bottom: 10px;
}

.login-label {
	color: rgb(255, 255, 255);
	text-align: left;
	margin-bottom: 5px;
}

.logo-name {
	background-color: rgb(187, 110, 22);
	color: rgb(255, 255, 255);
	display: table-cell;
	font-family: 'Open Sans Light';
	font-size: 3em;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	width: 1024px;
}

.register-button {
	background-color: rgb(187, 110, 22);
	border: none;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: table-cell;
	font-family: 'Open Sans Light';
	font-size: 1.5em;
	height: 118px;
	outline: none;
	text-align: center;
	vertical-align: middle;
	width: 512px;
}