.background {
  background-color: rgb(250, 161, 65);
  display: grid;
  grid-template-columns: repeat(4, 256px);
  grid-template-rows: 200px 200px 88px auto;
  min-height: 100vh;
  width: 1024px;
}

.title {
  align-self: center;
}

.header {
  background-color: rgb(187, 110, 22);
  color: rgb(255, 255, 255);
  display: grid;
	font-family: 'Open Sans Light';
	font-size: 3em;
  grid-column: span 4;
  padding: 75px 20px;
	text-align: center;
}

.forgot-password {
	text-decoration: none;
}

img {
  grid-column: span 2;
  grid-row: span 2;
  max-width: 100%;
  max-height: 100%;
	opacity: 0.75;
}

input {
  box-sizing: border-box;
  border: none;
  width: 100%;
	outline: none;
	padding: 5px;
}

.button-sign-in {
	background-color: rgb(213, 130, 41);
	border: none;
	color: rgb(255, 255, 255);
	font-family: 'Open Sans Light';
	font-size: 1.5em;
	outline: none;
	text-align: center;
}

.button-sign-up {
	background-color: rgb(187, 110, 22);
	border: none;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-family: 'Open Sans Light';
  font-size: 1.5em;
  grid-column: span 2;
  outline: none;
	text-align: center;
}

.button-reset-password {
  background: none;
	border: none;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-family: 'Open Sans Light';
  font-size: 1.5em;
  grid-column: span 3;
  outline: none;
	text-align: center;
}

.login-box {
  align-content: center;
	display: grid;
}

.login-item {
	margin-bottom: 10px;
}

.login-items {
  padding: 20px;
}

.login-label {
	color: rgb(255, 255, 255);
	text-align: left;
	margin-bottom: 5px;
}
